#openModalDataset {
                position: relative;
            }

            #openModalDataset .modal-dialog {
                position: fixed;
                width: 100%;
                margin: 0;
                padding: 10px;
            }

            .btn-login {
                background: #0fac81;
                color: #FFC107;
                padding: 10px;
                margin: 0;
                border-radius: 3px;
                height: 30px;
                display: flex;
                align-items: center;
            }

            .btn-login:hover {
                background: none;
                color: #FFC107;
                border: 5px;
                border-radius: 3px;
                border-color: #FFC107;
                box-shadow: 5px 5px 10px rgba(145, 160, 7, 0.5);
            }

            #exportModal .modal-dialog {
                position: relative;
                margin: auto;
            }

            #preview-map {
                max-height: 300px;
                object-fit: contain;
            }

            .ol-control.ol-zoom {
                position: absolute !important;
                top: auto !important;
                bottom: 7.5em !important;
                /* Atur jarak dari bawah */
                left: auto !important;
                right: .5em !important;
                /* Atur jarak dari kanan */
                z-index: 1000 !important;
                /* Pastikan tampil di atas */
            }

            .ol-control.ol-zoomslider {
                position: absolute !important;
                top: auto !important;
                bottom: 10.8em !important;
                /* Atur jarak dari bawah */
                left: auto !important;
                right: .5em !important;
                /* Atur jarak dari kanan */
                z-index: 1000 !important;
                /* Pastikan tampil di atas */
            }

            button.ol-full-screen-false, div.ol-draw-control.ol-unselectable.ol-control button, div.ol-zoom.ol-unselectable.ol-control button, button.export-toggle, button.basemap-toggle-btn, div.ol-scale-line.ol-unselectable {
                background-color: #0fac81 !important;
                color: #FFC107 !important;
            }
            div.ol-zoomslider.ol-unselectable.ol-control button {
                background-color: #0fac81 !important;
                border:  1px #FFC107 solid !important;
                border-radius:  3px !important;
            }
            div.ol-zoomslider.ol-unselectable.ol-control {
                background-color: rgba(7, 160, 33, 0.2) !important;
            }
            div.ol-scale-line.ol-unselectable {
                background-color: #0fac81 !important;
                position: absolute !important;
                top: auto !important;
                bottom: 1.8em !important;
                /* Atur jarak dari bawah */
                left: auto !important;
                right: .5em !important;
                /* Atur jarak dari kanan */
                z-index: 1000 !important;
                /* Pastikan tampil di atas */
            }
            div.ol-scale-line.ol-unselectable div.ol-scale-line-inner {
                color: #FFC107 !important;
                border: 1px solid #FFC107 !important;
                border-top: none !important;
            }
            div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
                background-color: rgba(142, 160, 7, 0.2) !important;
                color: #FFC107 !important;
            }
            div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible ul > li, div.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible ul > li > a, .toggle-basemap {
                color: #007052 !important;
            }
            .bg-success-new {
                background-color: #0fac81 !important;
            }
            .card-body-basemap {
                padding: 8px;
            }
