.sidebar-wrapper {
display: flex;
justify-content: flex-start;
align-items: start;
position: relative;
}

.sidebar {
width: 260px;
background: rgba(255, 255, 255, 0.5);
/* Warna dengan transparansi */
backdrop-filter: blur(3px);
/* Efek blur */
height: 91vh;
position: absolute;
z-index: 999;
left: 0;
top: 0;
transition: transform 0.3s ease;
}

.sidebar.closed {
transform: translateX(-100%);
}

.content {
padding: 0;
width: 100%;
}

.content.shifted {
margin-left: 0;
}

.toggle-btn {
position: absolute;
top: 10px;
left: 290px;
z-index: 999;
width: 270px;
max-width: 270px;
transition: transform 0.3s ease;
background: rgba(255, 255, 255, 0.5);
/* Warna dengan transparansi */
backdrop-filter: blur(3px);
/* Efek blur */
}

.result-area {
position: absolute;
top: 0;
left: 260px;
z-index: 998;
width: 330px;
max-width: 330px;
height: 91vh;
transition: transform 0.3s ease;
background: rgba(255, 255, 255, 0.5);
/* Warna dengan transparansi */
backdrop-filter: blur(3px);
/* Efek blur */
}

.result-area-heading {
width: 100%;
background: rgba(5, 168, 65, 0.2);
/* Warna dengan transparansi */
backdrop-filter: blur(3px);
/* Efek blur */
height: 83px;
}

.toggle-btn.closed {
transform: translateX(-280px);
}

.result-area.closed {
transform: translateX(-260px);
}

.b-plus {
font-size: 20px;
width: 28px;
height: 28px;
border-radius: 5px;
padding: 5px;
border: none;
background: #ffffff;
color: #FFC107;
}

.b-plus:hover {
background: #ebebeb;
}

.b-arrow-bar-left {
font-size: 20px;
width: 28px;
height: 28px;
border-radius: 5px;
padding: 5px;
border: 2px;
border-color: #ffffff;
}

.aside-head {
background: #0fac81;
padding: 10px;
margin: 0;
border-radius: 3px;
}

.aside-content {
list-style: none;
margin: 0;
background: rgba(255, 255, 255, 0.5);
padding: 5px;
border-radius: 3px;
}

input[type=checkbox] {
accent-color: #0fac81;
}

#search-from-aside::placeholder,#search-dataset::placeholder {
color: #007052;
/* Ganti dengan warna yang diinginkan */
opacity: 1;
/* Pastikan placeholder terlihat jelas */
}

#search-from-aside,#search-dataset {
background-color: rgba(15, 172, 129, 0.2);
}
